extends ../../../templates/dash.pug

block main
  .jumbotron-banner
    center
      h1.text-white My Services
      form(method='POST' action='/myservices')
        .form-group
          button.btn.btn-primary.btn-md.btn(type='button' data-toggle='modal' data-target='#searchServModal') + Add Service
          #searchServModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='searchServModalTitle' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#searchServModalTitle.modal-title Add Service
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                  input.form-control(type='text' name='searchtag' placeholder='Service Tag' required)
                  br
                  .row
                    .col
                      label(for='priceType') Price Type
                      select#priceType.form-control(name='pricetype')
                        option(value='1') Fixed
                        option(value='2') Rate per Hour
                    .col
                      label(for='price') Price
                      #price.input-group.mb-3
                        .input-group-prepend
                          span.input-group-text Php
                        input.form-control(type='text' name='price' placeholder='00.00' required)
                .modal-footer
                  button.btn.btn-primary(type='submit') Submit
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Close
  p  
  center
    .container
      p.font
        table.table.table-striped.font1.box-shadow-mini
          thead
            tr.text-white
              th(scope='col') Service
              th(scope='col') Price
              th(scope='col') Status
              th(scope='col') &nbsp
          tbody
            each serv in myServices
              tr
                td #{serv.strServName}
                if serv.intPriceType == '1'
                  td Php #{serv.formatPrice}
                else
                  td Php #{serv.formatPrice} / hr
                if serv.intServStatus == '1'
                  td Available
                else 
                  td Unavailable
                td
                  a(href='/myservices/'+serv.intServID, data-toggle='tooltip', data-placement='bottom', title='Edit')
                    img.size(src='/assets/images/icons/settings.png', alt='Edit')
  
  block myserv                    
    
