extends ../../../templates/dash.pug

block main
  .jumbotron-banner
    center
      h1.text-white About Us
  .container(style='margin: 10px 0px 10px 10px; max-width: 1260px !important')
    center
      br
      h3 HIRING TRUSTED PROFESSIONALS IS WHAT MAKES TRABAWHO THE BEST
      br
      p(style='width: 1100px;') The TrabaWho group is a growing services marketplace in Manila, providing a faster, more dependable way to hire services you need from plumbers to tutors.

      p(style='width: 1100px;') Just tell us what you need and get introduced to vetted and trusted professionals within minutes or hours. Read real customer reviews and hire with confidence.
      br
      br
      h3 TRANSFORMING BUSINESSES ACROSS MANILA
      br
      p(style='width: 1100px;') TrabaWho is transforming small and medium sized businesses like never before. They receive thousands of requests for their services on their provider accounts everyday, allowing them to make an instant connection with new clients at an unprecedented rate.
      br