extends ../../../templates/dash.pug

block main
  .jumbotron-banner
    center
      h1.text-white TrabaWHO Guide
  .container(style='margin: 10px 0px 10px 10px; max-width: 1260px !important')
    h2(style='border-bottom: 1px solid;') Guide
    b.font How to search for a Service
    p From you sidebar click the Service tab, It will redirect you to the Service page. From there you can check if the service that you are seeking for is in the "Popular Tags", If you can't find the service there you can go and click the "Search Services" button. Fill up the window with the information needed. After that just click the Submit button and viola! Your good to go.
    b.font How to request a service
    p After you've searched for a service you will see a row of cards or just a card depending on your search. From there choose a service provider that you want, you can also check the providers portfolio to see if they're licensed or not. After you've picked your provider click the Request button and a window will pop up with the providers schedule. If the Providers schedule seems good for you, go ahead and fill up the text box with your request and then submit. After this you will need to go to messages (located near your profile tab) and proceed to discuss with the problem with the provider.
    b.font Messages
    p BLUE - you are the provider and the person you are communicating with is the seeker
    p GREEN - you are the seeker and the person you are communicating with is the provider
    p Here in the Messages you will talk with the provider about the service that he will do and at what day will he do the job. After all details have been procured, the provider then will create an Offer for the seeker to accept. Now if there has been an error with creating the Offer the provider can still edit the offer. After the offer has been accepted, an Invoice shall be created. 
    b.font Adding Services
    p To add a service, from your sidebar go to My Services. After being redirected click the button Add Services, now go ahead and fill up the form. After filling it up click Submit then you're done.
    b.font Using the Scheduler
    p After you've added your Service go ahead an click the Scheduler from the sidebar. From there click the plus icon on the "Regular Working Hours" and go ahead and put your desired working hours and days. You can also edit it and delete the schedule if you so please. Now, on the right table go ahead and click the plus button. In here, you can input certain dates where you will either work or when you will be unvailable due to certain problems. You can also edit the date and remove it.