extends ../../../templates/dash.pug

block main
  .jumbotron-banner
    center
      h1.text-white TrabaWHO Help
  .container(style='margin: 10px 0px 10px 10px; max-width: 1260px !important')
    h2(style='border-bottom: 1px solid;') Help Section
      i.fa.fa-question-circle(style='margin-left:10px;')
    b.font  Your site won’t let me in. It won’t accept my password. 
    p Customer invariably has forgotten their password, or they’re typing it wrong. Password reset.
    b.font How do I change my password?
    p Go to profile click the settings button, find the password change. Proceed to fill it up.
    b.font My uploaded display picture doesn't show.
    p Slow Internet? Try again till you succeed, never give up! #fighting
    b.font Help I've been scammed by [seeker/provider] what do I do?
    p Report the [seeker/provider] of course. Go to their profile and click the REPORT button, don't worry you won't miss it.
    b.font I've been banned but I haven't done anything wrong.
    p Contact us to get it resolved, our email is TrabaWho@gmail.com and our telephone number is (63) 555-5555.
    b.font How can I view the Terms and Agreement again?
    p Scroll down you'll see it there.
    b.font The site is loading poorly, how do I fix it?
    p Slow internet, go to a computer cafe instead preferably Mineski.
    b.font I think my account has been hacked.
    p Contact us to get it resolved, our email is TrabaWho@gmail.com and our telephone number is (63) 555-5555.
  
