extends ../../../templates/dash.pug

block main
  .jumbotron-banner
    center
      h1.text-white Welcome to TrabaWHO
  .container.mt-3.con
    .row
      .col
        center
          .card.box.b-mg.box-shadow-mini
            .card-body.box-body(style="background: url('/assets/images/ser3.jpg') no-repeat; background-size: 600px 400px; border-radius: 3px;")
              h1.tes Services
              h5.card-text.tes Look for Services near your Area.
              a.btn.btn-primary(href='/services') Go To Services
      .col
        center
          .card.box.b-mg.box-shadow-mini
            .card-body.box-body(style="background: url('/assets/images/myser.jpg') no-repeat; background-size: 600px 400px; border-radius: 3px;")
              h1.tes My Services
              h5.card-text.tes Create and Manage Your Services.
              a.btn.btn-primary(href='/myservices') Go To My Services
    .row
      .col
        center
          .card.box.b-mg.box-shadow-mini
            .card-body.box-body(style="background: url('/assets/images/sched.jpg') no-repeat; background-size: 600px 400px; border-radius: 3px;")
              h1.tes Scheduler
              h5.card-text.tes Set and Manage your Schedule.
              a.btn.btn-primary(href='/scheduler') Go To Scheduler
      .col
        center
          .card.box.b-mg.box-shadow-mini
            .card-body.box-body(style="background: url('/assets/images/prof.jpg') no-repeat; background-size: 600px 400px; border-radius: 3px;")
              h1.tes Profile
              h5.card-text.tes Manage your Personal Information.
              a.btn.btn-primary(href='/profile/2') Go To Profile
    .row
      .col
        center
          .card.box.b-mg.box-shadow-mini
            .card-body.box-body(style="background: url('/assets/images/trans.jpg') no-repeat; background-size: 600px 400px; border-radius: 3px;")
              h1.tes Ongoing Transaction
              h5.card-text.tes View your Transactions.
              a.btn.btn-primary(href='/transactions/ongoing') Go To Ongoing
      .col
        center
          .card.box.b-mg.box-shadow-mini
            .card-body.box-body(style="background: url('/assets/images/mess.jpg') no-repeat; background-size: 600px 400px; border-radius: 3px;")
              h1.tes Messages
              h5.card-text.tes Communicate through Messaging!
              a.btn.btn-primary(href='/messages/1') Go To Messages

  block homeblocks
