extends ../../../templates/dash.pug

block main
  .jumbotron-banner
    h1 &nbsp
  .container
    .row
      center
        .site-heading.text-center(style='margin-top:20px !important')
          h3 A-Team
          hr
          p
            | The A-Team developed the system TrabaWho whole heartedly through hard work and cooperation
            br
            |  Follow us on our social media accounts to know more about our story
          .border
    .row(style='width:1269px !important; margin-bottom: 30px !important;')
      .col-md-3.team-box
        center
          .team-img.thumbnail
            img.team(src='/assets/images/Jon.jpg')
            .team-content
            h3 Jon Balmaceda
            .border-team
            p
                | Project Leader
            .social-icons
              center
                a(href='https://www.facebook.com/')
                i#social-fb.fa.fa-facebook-square.fa-3x.social
                a(href='https://twitter.com/')
                i#social-tw.fa.fa-twitter-square.fa-3x.social
                a(href='https://plus.google.com/')
                i#social-gp.fa.fa-google-plus-square.fa-3x.social
                a(href='mailto:bootsnipp@gmail.com')
                i#social-em.fa.fa-envelope-square.fa-3x.social
      .col-md-3.team-box
        center
          .team-img.thumbnail
            img.team(src='/assets/images/Piolo.jpg')
            .team-content
            h3 Piolo Sales
            .border-team
            p
                | Back-End Programmer
            .social-icons
              center
                a(href='https://www.facebook.com/')
                i#social-fb.fa.fa-facebook-square.fa-3x.social
                a(href='https://twitter.com/')
                i#social-tw.fa.fa-twitter-square.fa-3x.social
                a(href='https://plus.google.com/')
                i#social-gp.fa.fa-google-plus-square.fa-3x.social
                a(href='mailto:bootsnipp@gmail.com')
                i#social-em.fa.fa-envelope-square.fa-3x.social
      .col-md-3.team-box
        center
          .team-img.thumbnail
            img.team(src='/assets/images/Ralf.jpg')
            .team-content
            h3 Ralf Milan Sotelo
            .border-team
            p
                | Front-End Programmer
            .social-icons
              center
                a(href='https://www.facebook.com/')
                i#social-fb.fa.fa-facebook-square.fa-3x.social
                a(href='https://twitter.com/')
                i#social-tw.fa.fa-twitter-square.fa-3x.social
                a(href='https://plus.google.com/')
                i#social-gp.fa.fa-google-plus-square.fa-3x.social
                a(href='mailto:bootsnipp@gmail.com')
                i#social-em.fa.fa-envelope-square.fa-3x.social
      .col-md-3.team-box
        center
          .team-img.thumbnail
            img.team(src='/assets/images/Kobe.jpg')
            .team-content
            h3 Chloe Figura
            .border-team
            p
                | Technical Writer
            .social-icons
              center
                a(href='https://www.facebook.com/')
                i#social-fb.fa.fa-facebook-square.fa-3x.social
                a(href='https://twitter.com/')
                i#social-tw.fa.fa-twitter-square.fa-3x.social
                a(href='https://plus.google.com/')
                i#social-gp.fa.fa-google-plus-square.fa-3x.social
                a(href='mailto:bootsnipp@gmail.com')
                i#social-em.fa.fa-envelope-square.fa-3x.social
    