extends ../../../templates/dash.pug

block main
  .jumbotron-banner
    center
      h1.text-white Scheduler
  .container.mt-3
    .row
      .col
        table.table.table-striped
          thead.text-white
            tr
              th.align-left(scope='col' colspan="2") Today's Working Hours
          tbody
            tr
              th(scope='row') Feb 19, 2018
              td 11AM - 2PM
      .col
        table.table.table-striped
          thead.text-white
            tr
              th.align-left(scope='col' colspan="3") Current Transaction Schedule
          tbody
            tr
              th(scope='row') Feb 20, 2018
              td 11AM - 2PM
              td Manila
    .row
      .col
        table.table.table-striped
          thead.text-white
            tr
              th.align-left(scope='col') Regular Working Hours
              th.align-right(scope='col')
                button.btn.btn-outline-light.btn-tab-sm(type='button') *
          tbody
            tr
              th(scope="row") Monday
              td 10AM - 7PM
      .col
        table.table.table-striped
          thead.text-white
            tr
              th.align-left(scope='col') Special Working Hours
              th.align-right
                button.btn.btn-outline-light.btn-tab-sm.mr-2(type='button') +
                button.btn.btn-outline-light.btn-tab-sm(type='button') *
          tbody
            tr
              td(scope='col') Feb 24, 2018
              td 11AM - 2PM

    
