extends result.pug

block servtarget
  block append scripts
    script.
      $(window).on('load',function(){
        $('#portfolio').modal('show');
      });
      
  #portfolio.modal.fade(role='dialog', tabindex='-1', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title Portfolio
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          #carousel-1.carousel.slide(data-ride='carousel')
            .carousel-inner(role='listbox')
              each doc,index in documents
                if index == 0
                  .carousel-item.active
                    img.w-100.d-block(src='/userImages/documents/'+doc.strDocument, alt='Slide Image')
                else
                  .carousel-item
                    img.w-100.d-block(src='/userImages/documents/'+doc.strDocument, alt='Slide Image')
            div
              a.carousel-control-prev(href='#carousel-1', role='button', data-slide='prev')
                span.carousel-control-prev-icon
                span.sr-only Previous
              a.carousel-control-next(href='#carousel-1', role='button', data-slide='next')
                span.carousel-control-next-icon
                span.sr-only Next
            ol.carousel-indicators
              li.active(data-target='#carousel-1', data-slide-to='0')
              li(data-target='#carousel-1', data-slide-to='1')
              li(data-target='#carousel-1', data-slide-to='2')
        .modal-footer
          button.btn.btn-light(type='button', data-dismiss='modal') Close      
              
