extends ../../../templates/dash.pug

block main
  .jumbotron-banner
    center
      h1.text-white Search For Services
      form(method='POST' action='/services')
        .form-group
          button.btn.btn-primary.btn-md.btn(type='button' data-toggle='modal' data-target='#searchServModal') Search Services
          #searchServModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='searchServModalTitle' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#searchServModalTitle.modal-title Search and Filters
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                  input.form-control(type='text' name='searchtag' placeholder='Service Tag' required)
                  br
                  .row
                    .col
                      input.form-control(type='text' name='city' placeholder='City')
                    .col
                      input.form-control(type='text' name='brngy' placeholder='Barangay')
                  br
                  .row
                    .col
                      label(for='pricing') Pricing
                      select#pricing.form-control(name='pricing')
                        option(value='any' selected='') Any
                        option(value='rate') Rate
                        option(value='notS') Not Specified
                    .col
                      label(for='sorting') Sorting
                      select#sorting.form-control(name='sorting')
                        option(value='rating' selected='') Rating
                        option(value='finished') Finished Transaction
                    
                .modal-footer
                  button.btn.btn-primary(type='submit') Submit
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Close
  p
  h3.margin-L Showing Results for "#{servName}"
  .container
    .card-deck.ml-1
      .row
        each serv in searchServ
          .col-lg-3.col-md-5.col-xl-3(style='margin-left: -5px;')
            span.card(style= 'height: 15.1.5rem; width: 15rem').border.border-primary.mb-3
              table
                tbody
                  tr
                    td(rowspan='2') 
                      img(src='/assets/images/Tyler.jpg', alt='Card image cap', style='height: 8rem; width: 8rem; ')
                    td
                      img(src='/assets/images/Icons/star.png', alt='star', style='height: 1.5rem; width: 1.5rem; ')
                      p.cenR(style='margin-bottom: 0rem') Rating
                  tr
                    td
                      img(src='/assets/images/Icons/case.png', alt='star', style='height: 1.5rem; width: 1.5rem; ')
                      p.cenF(style='margin-bottom: 0rem') Finished

              //-img.card-img-top(src='/assets/images/Tyler.jpg', alt='Card image cap', style='height: 8rem; width: 8rem; ')
              .card-body
                .card-text
                  .f(style='text-align:center; border-top: 1px solid #007BFF') #{serv.prepend}
                  .f(style='text-align:center') #{serv.strName}
                  .f(style='text-align:center') ₱#{serv.fltPrice}/hr 

                .btn-group.special(role='group')
                  button.btn.btn-primary(href='' style='width: 14.7rem; border-radius: 0px;') Request
                  button.btn.btn-secondary(href='' style='width: 14.7rem; border-radius: 0px;') Portfolio
        .col          
