extends ../../../templates/dash-admin.pug

block main
  .jumbotron-admin
        center
            h1 Hello Admin!
  
  #page-wrapper(style='min-height: 246px;')
    .row
      .col-lg-12
        br
        h1.page-header Dashboard
        br
      // /.col-lg-12
    // /.row
    .row
      .col-lg-4.col-md-6
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-users.fa-5x
              .col-xs-9.text-right
                .huge 26
                div User Accounts
          a(href='#' style='color: #337ab7;')
            .panel-footer
              span.pull-left View Details
              span.pull-right(style='margin:0px !important;')
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-4.col-md-6
        .panel.panel-green
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-american-sign-language-interpreting.fa-5x
              .col-xs-9.text-right
                .huge 12
                div Transactions
          a(href='#' style='color: #5cb85c;')
            .panel-footer
              span.pull-left View Details
              span.pull-right(style='margin:0px !important;')
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-4.col-md-6
        .panel.panel-yellow
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-file-text.fa-5x
              .col-xs-9.text-right
                .huge 124
                div Reports
          a(href='#' style='color: #F0AD4E;')
            .panel-footer
              span.pull-left View Details
              span.pull-right(style='margin:0px !important;')
                i.fa.fa-arrow-circle-right
              .clearfix
    .row
      .col-lg-4.col-md-6
        .panel.panel-red
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-tag.fa-5x
              .col-xs-9.text-right
                .huge 13
                div Service Tags
          a(href='#' style='color: #D9534F')
            .panel-footer
              span.pull-left View Details
              span.pull-right(style='margin:0px !important;')
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-4.col-md-6
        .panel.panel-pink
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-address-card.fa-5x
              .col-xs-9.text-right
                .huge 13
                div Service Tag Details
          a(href='#' style='color: #ff66cc;')
            .panel-footer
              span.pull-left View Details
              span.pull-right(style='margin:0px !important;')
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-4.col-md-6
        .panel.panel-violet
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-suitcase.fa-5x
              .col-xs-9.text-right
                .huge 13
                div Services
          a(href='#' style='color: #9900cc;')
            .panel-footer
              span.pull-left View Details
              span.pull-right(style='margin:0px !important;')
                i.fa.fa-arrow-circle-right
              .clearfix
    br          
    .row
      .col-lg-4
        .panel.panel-primary
          .panel-heading
            h3 Today
          .panel-body
              span.text-h Transaction
              span.text-r 10
              hr
              span.text-tab Started
              span.text-r 10
              hr
              span.text-tab Finished
              span.text-r 10
              hr
              span.text-tab Cancelled
              span.text-r 10
      // /.col-lg-4
      .col-lg-4
        .panel.panel-default
          .panel-heading
            h3 This Month
          .panel-body
              span.text-h Transaction
              span.text-r 10
              hr
              span.text-tab Started
              span.text-r 10
              hr
              span.text-tab Finished
              span.text-r 10
              hr
              span.text-tab Cancelled
              span.text-r 10
      // /.col-lg-4
      .col-lg-4
        .panel.panel-green
          .panel-heading
            h3 This Year
          .panel-body
              span.text-h Transaction
              span.text-r 10
              hr
              span.text-tab Started
              span.text-r 10
              hr
              span.text-tab Finished
              span.text-r 10
              hr
              span.text-tab Cancelled
              span.text-r 10


