extends ../../../templates/dash-admin.pug

block main  
    .jumbotron-admin
        center  
            h1 Reported Users
    p  
    center
    .container
        p.font
            table.table.table-striped.table-hover
                thead
                    tr  
                        th(scope='col') #
                        th(scope='col') Username
                        th(scope='col') Name
                        th(scope='col') Reason
                tbody         