/*declarations*/

/*global customization*/
img{
    /*Select Disabled*/
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /*Drag Disabled*/
    -khtml-user-drag: none;
    -o-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;
}
body{
    background-color: #EBECEE;
}
/*no scrollbars*/
    /*body::-webkit-scrollbar {
        display: none;
    }*/

/*wrappers*/
#errorpage{
    background: url('/assets/images/jumbo-login.jpg') no-repeat fixed;
    background-size: 100% 200%;
}
#successpage{
    background: url('/assets/images/success-page.jpg') no-repeat fixed;
    background-size: 100% 100%;
}

/*general customization*/
.no-bullet{
    list-style: none;
}

/*btn-group btn-block*/
.btn-group.special {
    display: flex;
}
.special .btn {
    flex: 1;
}

/*login + register*/
.jumbotron-login{
    background: url('/assets/images/jumbo-login.jpg') no-repeat fixed;
    background-size: 100% 200%;
    box-shadow: 0px 0px 10px black;
    padding: 2rem 2rem 7.5rem;
}
.jumbotron-login .container > h1{
    position: absolute;
    top: 265px;
    left: 0;
    right: 0;
    margin-left: 10px;
    margin-right: auto;
}
.col-login{
    background: white;
    border: 2px solid #4389A2;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    padding: 10px;
}
.container-login{
    position: absolute;
    top: 330px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#password2{
    margin-top: 5px;
}
#agreement + label{
    font-size: 0.8em;
}

/*errorpage*/
.col-errorpage{
    background: rgba(255,255,255,0.7);
    border: 2px solid #4389A2;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    padding: 10px;
}
.container-errorpage{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/*navbar*/
.navbar{

    /*Select Disabled*/
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /*Drag Disabled*/
    -khtml-user-drag: none;
    -o-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;

    padding: 0px 16px;

    height: 3.5em;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.navbar-brand > span{
    margin-left: 10px;
    color: white;
}
.nav-text{
    color: white;
    font-size: 1.1em;
}
.nav-text:hover{
    color: #EBECEE;
}

/*dashboard*/
.dash{
    margin-top: 3.5em;
}
.dashboard > .row > .col:first-of-type{

    /*Select Disabled*/
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /*Drag Disabled*/
    -khtml-user-drag: none;
    -o-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;

    background: #282B30;
    position: fixed;
    height: 100vh;
    min-width: 250px;
    max-width: 250px;
    padding: 20px 15px 20px 0px;
    z-index: 5;
}
.dashboard > .row > .col:first-of-type > .row{
    margin-left: 0px;
    margin-top: 5px;
    padding-left: 20px;
}
.dashboard > .row > .col:first-of-type > a{
    text-decoration:  none;
}
.dashboard > .row > .col:first-of-type > a.row:hover{
    background: #4862A3;
}
.dashboard > .row > .col:first-of-type > .user:nth-child(1){
    background: #3498DB;
}
/*.dashboard > .row > .col:last-of-type{
    margin-left: 250px;
<<<<<<< HEAD
    padding: 0px;
=======
    padding: 15px;
}*/
.dashboard > .row > .col:last-of-type{
    margin-left: 250px;
    padding: 0px;
    word-wrap: break-word;
>>>>>>> 8edf360e305f5efec6f4df3294f33745b591d243
}
.main{
    padding: 0px;
}

.dashboard > .row > .col:first-of-type > .admin:nth-child(1){
    background: #EC9B00;
}
