/*declarations*/

/*global customization*/
img{
    /*Select Disabled*/
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /*Drag Disabled*/
    -khtml-user-drag: none;
    -o-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;
}
body{
    background-color: #EBECEE;
}
/*no scrollbars*/
    /*body::-webkit-scrollbar {
        display: none;
    }*/

/*wrappers*/
#errorpage{
    background: url('/assets/images/jumbo-login.jpg') no-repeat fixed;
    background-size: 100% 200%;
}
#successpage{
    background: url('/assets/images/success-page.jpg') no-repeat fixed;
    background-size: 100% 100%;
}

/*general customization*/
.no-bullet{
    list-style: none;
}

/*btn-group btn-block*/
.btn-group.special {
    display: flex;
}
.special .btn {
    flex: 1;
}

/*login + register*/
.jumbotron-login{
    background: url('/assets/images/jumbo-login.jpg') no-repeat fixed;
    background-size: 100% 200%;
    box-shadow: 0px 0px 10px black;
    padding: 2rem 2rem 7.5rem;
}
.jumbotron-login .container > h1{
    position: absolute;
    top: 265px;
    left: 0;
    right: 0;
    margin-left: 10px;
    margin-right: auto;
}
.col-login{
    background: white;
    border: 2px solid #4389A2;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    padding: 10px;
}
.container-login{
    position: absolute;
    top: 330px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#password2{
    margin-top: 5px;
}
#agreement + label{
    font-size: 0.8em;
}

/*errorpage*/
.col-errorpage{
    background: rgba(255,255,255,0.7);
    border: 2px solid #4389A2;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    padding: 10px;
}
.container-errorpage{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/*navbar*/
.navbar{

    /*Select Disabled*/
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /*Drag Disabled*/
    -khtml-user-drag: none;
    -o-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;

    padding: 0px 16px;

    /*height: 3.5em;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;*/
    z-index: 10;
    width: 100%;
    top: 0;
    position: fixed;
}
.navbar-brand > span{
    margin-left: 10px;
    color: white;
}
.nav-text{
    color: white;
    font-size: 1.1em;
}
.nav-text:hover{
    color: #EBECEE;
}

/*dashboard*/
.dash{
    margin-top: 3.5em;
}
.dashboard > .row > .col:first-of-type{

    /*Select Disabled*/
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /*Drag Disabled*/
    -khtml-user-drag: none;
    -o-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;

    background: #282B30;
    position: fixed;
    height: 100vh;
    min-width: 250px;
    max-width: 250px;
    padding: 20px 15px 20px 0px;
    z-index: 5;
}
.dashboard > .row > .col:first-of-type > .row{
    margin-left: 0px;
    margin-top: 5px;
    padding-left: 20px;
}
.dashboard > .row > .col:first-of-type > a{
    text-decoration:  none;
}
.dashboard > .row > .col:first-of-type > a.row:hover{
    background: #4862A3;
}
.dashboard > .row > .col:first-of-type > .user:nth-child(1){
    background: #3498DB;
}
.dashboard > .row > .col:last-of-type{
    margin-left: 250px;
    word-wrap: break-word;
}
.main{
    padding: 0px;
}
.dashboard > .row > .col:first-of-type > .admin:nth-child(1){
    background: #EC9B00;
}

/*user-panel*/
.user-panel {
    position: relative;
    height: 120px;
    width: 250px;
    padding: 10px;
    overflow: hidden;
}
.user-panel:before,
.user-panel:after {
    content: " ";
    display: table;
}
.user-panel:after {
    clear: both;
}
.user-panel:before,
.user-panel:after {
    content: " ";
    display: table;
}
.user-panel:after {
    clear: both;
}
.user-panel > .image > img {
    width: 70px;
    max-width: 45px;
    height: auto;
}
.user-panel > .info {
    margin-top: 1px;
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}
.user-panel > .info > p {
    font-weight: 600;
    margin-bottom: 9px;
}
.user-panel > .info > a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
}
.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
    margin-right: 3px;
}

.pull-right{
    margin-top: -50px
}

/*sidebar-form*/
.sidebar-form + .input-group > input {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
    color: #66665F;
}
.sidebar-form + .input-group > input:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: white;
}
.sidebar-form + .input-group > input {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #374850;
    background-image: none;
    border: 1px solid #374850;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.sidebar-form + .input-group > input:focus{
    background-color: white;
    color: black;
}
#search-btn {
    background-color: #374850;
}

.input-group{
    padding-top: 10px;

}

#price{
    padding-top: 0px;
}