extends ../../../templates/dash.pug

block main
  block append script
    script.
      function invoicePopup(url) {
        newwindow=window.open(url,'name','resizable=no,height=600,width=800,top=60,left=360');
        if (window.focus) {newwindow.focus()}
      }
      
  .jumbotron-banner
    center
      h1.text-white View Previous Transaction

  p  
  center
    .container(style='margin-bottom: 133px !important;')
      p.font
        table.table.table-striped.font1.box-shadow-mini
          thead
            tr.text-white
              th(scope='col') Service
              th(scope='col') Role
              th(scope='col') Partner
              th(scope='col') Finished
              th(scope='col') Actions
          tbody
            each thisuser in thisUserTab
              - empty = 1
              each trans in finishedtab
                - empty = 0
                tr
                  td #{trans.strServName}
                  if trans.intServAccNo == thisuser.intAccNo 
                    td Provider
                  else
                    td Seeker
                  td 
                    a(href='/profile/'+trans.intAccNo) #{trans.strName}
                  td
                    | #{trans.dateEnd}
                  td
                    a.mx-2(href='/invoice/'+trans.intTransID, onClick='invoicePopup(this.href);return(false);', data-toggle='tooltip', data-placement='bottom', title='Invoice')
                      img.size(src='/assets/images/icons/Invoice2.png', alt='Invoice', style='height:40px; width:40px;')
                    if trans.intServAccNo != thisuser.intAccNo && trans.rate == 0 
                      a.mx-2(href='/transactions/ratereview/'+trans.intTransID, data-toggle='tooltip', data-placement='bottom', title='Rating')
                        img.size(src='/assets/images/icons/star2.png', alt='Invoice', style='height:35px; width:35px;')
                    else
                      span.mx-2(style="padding: 15px;") &nbsp
              if empty == 1
                tr
                  td(colspan="5") 
                    i None      
                      
  block finishedtrans
