extends ../../../templates/dash.pug

block main
  .jumbotron-banner
    center
      h1.text-white Transaction Log

  p  
  center
    .container(style='margin-top: 30px !important; margin-bottom: 30px !important;')
      p.font
        table.table.table-striped.font1.box-shadow-mini
          //- thead
          //-   tr.text-white
          //-     th(scope='col') Very Nice
          tbody
              tr
                td Finished Transaction With Offset
              tr
                td Cancelled Transaction With Lil Uzi Vert
              tr
                td Yatchy Cancelled Your Transaction
              tr
                td Finished Transaction With Flava Flav