extends ../../../templates/dash.pug

block main
  .container.fill
    .row.chat-wrap
      // Contacts & Conversations
      .col-sm-3.panel-wrap
        // Left Menu / Conversation List
        .col-sm-12.section-wrap
          // Header
          .row.header-wrap
            .chat-header.col-sm-12
              .input-group
                input.form-control(type='text', name='q', placeholder='All Services', style='width:100px')
                button#search-btn.btn.btn-primary(type='submit', name='search', href="") Change
                    i.fa(aria-hidden='true')
              //  h4#username Lightning McJeff
                .header-button
                  a.btn.pull-right(href='#Contacts', data-toggle='collapse')
                    i.fa.fa-pencil-square-o.fa-lg
          // Conversations
          .row.content-wrap
            .conversation.btn
              .media-body
                .display.chat-part(role="gridcell")
                  a.chat-part.display
                    .chat-pick.display(data-tooltip-content='Soft', data-hover='tooltip', data-tooltip-position='right', data-tooltip-alignh='center', data-tooltip-root-class='_33g_', aria-hidden='true', style=' margin-right:9px')
                      .chat-pad(style="height: 50px, width: 50px")
                        .chat-img(style="height: 50px, width: 50px")
                          i(style='height: 50px; background-image: url("/assets/images/Tyler.jpg"); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; width: 50px;')
                    chat4.chatL-m
                      .chat5.chatL-3 
                        h5 #Plumber (STYLE 2)
                      .chat5.chatL-3 
                        span TakeOff
                        small.pull-right.time(style='margin-left: 110px') 02:10am
      // Messages & Info
      .col-sm-9.panel-wrap
        // Main Content / Message List
        #Messages.col-sm-9.section-wrap
          // Header
          .row.header-wrap
            .chat-header.col-sm-12
              h4(style='color:gold') #Plumbing TakeOff
          // Messages
          .row.content-wrap.messages
            .msg
              .media-body
                small.pull-right.time
                  i.fa.fa-clock-o
                  |  12:10am
                h5.media-heading Walter White
                small.col-sm-11
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...
          // Message box & Send Button
          .row.send-wrap
            .send-message
              .message-text
                textarea.no-resize-bar.form-control(rows='2', placeholder='Write a message...')
              .send-button
                a.btn
                  | Send 
                  i.fa.fa-send