br
html(xmlns='http://www.w3.org/1999/xhtml')
  head
  body
    link(rel='stylesheet', type='text/css', href='/assets/custom/voucher.css')
    #page-wrap
      div(align="center")
        h1.title TRABAWHO
      br
      br
      #identity
        #address
          | Provider Details
          br
          | Account No. : 000054419
          br
          | Name : Tupac Shakur
          br
          | E-mail : tupac@gmail.com
      #customer
        #customer-title
          | Seeker Details
          br
          | Account No. : 000230177
          br
          | Name : Kendrick Lamar
          br
          | E-mail : kenny@gmail.com
        table#meta
          tr
            td.meta-head Transaction #
            td 7414
          tr
            td.meta-head Date Scheduled
            td 01/20/2018
          tr
            td.meta-head Amount Due
            td Php 300
      div(align="center")
        Label &nbspSERVICE INVOICE
      table#items
        tr
          th(style="padding-left: 20px; padding-right: 20px;") Service 
          th(style="padding-left: 20px; padding-right: 20px;") Price
        tr.item-row
          td
            text Plumber
          td
            text Php 100
            br
            br
      table#items
        tr
          th Equipment 
          th Quantity
          th Price
        tr.item-row
          td
            text Pipe
          td
            text 4
          td
            text Php 200
            br
            br
      br
      br
      h8
        | -
      h9
        | -
      #terms
        h5 Terms
        text
          | Print This Form.
          br
          |(Ctrl + p)
      p &nbsp
      h1.subtitle ---------------------------------------------------------------------------
      p
        sup Cut Here
