extends ../index.pug

block myserv
  block append scripts
    script.
      $(window).on('load',function(){
        $('#alreadyAdded').modal('show');
      });
      
  #alreadyAdded.modal.fade(tabindex='-1' role='dialog' aria-labelledby='alreadyAddedTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#alreadyAddedTitle.modal-title Page Restricted
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p #{servTag} has already been added.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
