extends ../index.pug

block chatmess
  block append scripts
    script.
      $(window).on('load',function(){
        $('#noDate').modal('show');
      });
      
  #noDate.modal.fade(tabindex='-1' role='dialog' aria-labelledby='noDateTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#noDateTitle.modal-title Invalid Input
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Date does not exist.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
