extends ../../../templates/dash.pug

block main
  .jumbotron-banner(style='height:100px')
    center
  .sector(style='margin-top:0px; padding:0px')
    .sector-container-profile
      .profile-container
          .col-sm-3(style='display: inline-block; width: 160px; padding-left: 0px; padding-right: 0px')
            img(src='/assets/images/Tyler.jpg', alt='Card image cap', style='height: 10rem; width: 10rem; border-right: 1px solid; ')
          .col-sm-3(style='display: inline-block; width: 894px ')
            h2.text-headline-profile(style='border-bottom: 1px solid') Verified
          
            form(method='POST' action='/profile')
              .form-group
                h1(style='margin-left:15px') Tyler The Plumber
                  button.btn.btn-danger.btn-md.btn(type='button' data-toggle='modal' data-target='#searchServModal' style='float:right; margin-right: 30px; margin-top:5px;') Report
                  #searchServModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='searchServModalTitle' aria-hidden='true')
                    .modal-dialog(role='document')
                      .modal-content
                        .modal-header
                          h5#searchServModalTitle.modal-title Report User
                          button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') ×
                        .modal-body
                          .row
                            .col
                              .custom-control.custom-radio
                                input#customRadio1.custom-control-input(type='radio', name='customRadio')
                                label.custom-control-label(for='customRadio1') Communication Abuse 
                              .custom-control.custom-radio
                                input#customRadio2.custom-control-input(type='radio', name='customRadio')
                                label.custom-control-label(for='customRadio2') Scammer/Hacker
                              .custom-control.custom-radio
                                input#customRadio3.custom-control-input(type='radio', name='customRadio')
                                label.custom-control-label(for='customRadio3') Spammer
                              .custom-control.custom-radio
                                input#customRadio4.custom-control-input(type='radio', name='customRadio')
                                label.custom-control-label(for='customRadio4') Others
                            .col
                              .form-group
                                label(for='exampleFormControlTextarea1') Others Specify Here..
                                textarea#exampleFormControlTextarea1.form-control(rows='3')

                        .modal-footer
                          button.btn.btn-primary(type='submit') Submit
                          button.btn.btn-secondary(type='button', data-dismiss='modal') Close


          .col-sm-3(style='width: 190px; border-left: 1px solid; height:160px')
              table(style='width:190px')
                tbody
                  tr
                    td(style='padding-top:3px')
                      img(src='/assets/images/Icons/star.png', alt='star', style='height: 2rem; width: 2rem; margin-top:5px; margin-left:50px;')
                      h2(style='float: right; margin-right: 50px; margin-bottom: 0rem') 4.8
                      h4.profileA(style='margin-bottom: 0rem; margin-top:0px; display:inline-block') Rating
                  tr
                    td(style='padding-top:3px')
                      img(src='/assets/images/Icons/case.png', alt='star', style='height: 2rem; width: 2rem; margin-top:5px; margin-left:50px ')
                      h2(style='float: right; margin-right: 50px; margin-bottom: 0rem') 300
                      h4.profileB(style='margin-bottom: 0rem; margin-top:0px; display:inline-block') Finished
  nav
    .card.text-center(style='width:1286px')
      .card-header(style='padding-bottom:0rem')
        #nav-tab.nav.nav-tabs(role='tablist', style='border:0px')
          a#settings-tab.nav-item.nav-link(href='#Settings', data-toggle='tab', data-placement='bottom', title='Edit',role='tab', aria-controls='settings', aria-selected='true')
            img.size-ico(src='/assets/images/icons/settings.png', alt='Edit')
          a#personal-info-tab.nav-item.nav-link.text-b(data-toggle='tab', href='#Personal-Info', role='tab', aria-controls='Personal-Info', aria-selected='false') Personal Info
          a#services-tab.nav-item.nav-link.text-b(data-toggle='tab', href='#Services', role='tab', aria-controls='Services', aria-selected='false') Services
          a#reviews-tab.nav-item.nav-link.text-b(data-toggle='tab', href='#Reviews', role='tab', aria-controls='Reviews', aria-selected='false') Reviews
      #nav-tabContent.tab-content
        #Settings.tab-pane.fade(role='tabpanel', aria-labelledby='settings-tab')
          .col-sm-3(style='display: inline-block; width: 642px; padding-top: 40px; padding-left: 50px; text-align:left')
            .form-group.col-md-6.noP
              label(for='displayname') Change Email
                input#email.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder='eg. johndoe@email.com' maxlength='320' required='', style='width: 23rem;')
            .form-group.col-md-6.noP
              label(for='changenumber') Change Contact Number
                input#contact.form-control(type='number' name='contact' aria-describedby='contactHelp' placeholder='09236835707' max='99999999999' required='', style='width: 23rem;')
            .form-group.col-md-6.noP
              label(for='changepassword') Change Password
                input#password1.form-control(type='password' name='password' placeholder='Create a Password' minlength='8' maxlength='100' required='', style='width: 23rem;')
                input#password2.form-control(type='password' name='confirm' aria-describedby='password2Help' placeholder='Retype Password' required='', style='width: 23rem;')
                small#password2Help.form-text.text-muted Minimum of 8 characters.
            .form-row
              .form-group.col-md-6
                label(for='changepassword') Upload Picture
                  .custom-file
                    input#customFile.custom-file-input(type='file')
                    label.custom-file-label(for='customFile') Choose file
              .form-group
                button.btn.btn-primary(style='float:right; margin-top:24px;') Submit

          .col-sm-3(style='display: inline-block; width: 642px; padding-top: 40px; text-align:left')
            .form-group
              label.col-md-4.noP.control-label(for='userdesc') User Description
              .col-md-6.noP
                textarea#userdesc.form-control(name='userdesc', type='text', placeholder='Say something about yourself..', required='', rows='3', style='width: 23rem;')
            .form-group.col-md-6(style='padding-left:0px !important;')
              label(for='inputCity') City
              input#inputCity.form-control(type='text')
            .form-group.col-md-6(style='padding-left:0px !important;')
              label(for='inputState') Barangay
              input#inputBarangay.form-control(type='text')
            .form-group
              label.col-md-4.noP.control-label(for='userdesc') Also Available At
              .col-md-6.noP
                textarea#userdesc.form-control(name='userdesc', type='text', placeholder='Social media links go here..', required='', rows='3', style='width: 23rem;')

        #Personal-Info.tab-pane.fade(role='tabpanel', aria-labelledby='personal-info-tab')
          .col-sm-3(style='display: inline-block; width: 642px; padding-top: 40px; padding-left: 50px; text-align:left')
            i.fa.fa-building.fa-2x
            span.font2 City: Manila
            hr
            i.fa.fa-address-book.fa-2x
            span.font2 Contact: 0916754679
            hr
          .col-sm-3(style='display: inline-block; width: 642px; padding-top: 40px; padding-right: 50px; text-align:left')
            i.fa.fa-home.fa-2x
            span.font2 Barangay: Tondo
            hr
            i.fa.fa-envelope.fa-2x
            span.font2 Email: Flower_Boy@yahoo.com
            hr
          .col-sm-3(style='width: 1284px; padding-top: 10px; padding-left: 50px; padding-right: 50px; text-align:left')
            i.fa.fa-user.fa-2x
            span.font2 User Description:
              .container(style='padding-top:20px;')
                h4 Hello guys welcome to my profile, My lines of proffesion are Plumbing, Rapping and making Beats ayy lmoa
            hr
            i.fa.fa-users.fa-2x
            span.font2 Also Available At
              .container(style='padding-top:20px; padding-bottom:20px;')
                h4 Facebook: TylerThePlumber
        #Services.tab-pane.fade(role='tabpanel', aria-labelledby='services-tab')
          center
            .container(style='padding-top: 20px; padding-bottom: 20px')
              p.font
                table.table.table-striped.font1.box-shadow-mini
                  thead
                    tr.text-white
                      th(scope='col') Service
                      th(scope='col') Price
                      th(scope='col') Status
                      th(scope='col') &nbsp
                  tbody
                      tr
                        td Plumbing
                          td Php 200 / hr
                          td Available
                          td &nbsp
                      tr
                        td Laundry
                          td Php 150 / hr
                          td Unavailable
                          td &nbsp
                      tr
                        td Tutor
                          td Php 300 / hr
                          td Available
                          td &nbsp
        #Reviews.tab-pane.fade(role='tabpanel', aria-labelledby='reviews-tab', style='height: 300px')
          .sector-container-footer
            .footer-container
              .col-sm-3(style='display: inline-block; width: 110px; padding-top: 10px; padding-left: 10px; text-align:left')
                .pull-left.image
                  .chat-img(style='height:80px; width:80px')
                    img.img-circle(src='/assets/images/profile.png', alt='User Image')
              .col-sm-3(style='display: inline-block; width: 950px; padding-top: 10px; padding-left: 10px; text-align:left')
                h2 Takeoff
                h3 Help sample text eksdee
              .col-sm-3(style='width: 140px; display: inline-block; padding-top: 10px; padding-left: 10px')
                img(src='/assets/images/Icons/star.png', alt='star', style='height: 4rem; width: 4rem; margin-top:5px; float:left')
                h1(style='float:right; margin-top: 20px') 4.5
            .footer-container
              .col-sm-3(style='display: inline-block; width: 110px; padding-top: 10px; padding-left: 10px; text-align:left')
                .pull-left.image
                  .chat-img(style='height:80px; width:80px')
                    img.img-circle(src='/assets/images/profile.png', alt='User Image')
              .col-sm-3(style='display: inline-block; width: 950px; padding-top: 10px; padding-left: 10px; text-align:left')
                h2 Takeoff
                h3 Help sample text eksdee
              .col-sm-3(style='width: 140px; display: inline-block; padding-top: 10px; padding-left: 10px')
                img(src='/assets/images/Icons/star.png', alt='star', style='height: 4rem; width: 4rem; margin-top:5px; float:left')
                h1(style='float:right; margin-top: 20px') 4.5