extends ../../../templates/master.pug

block content
  .welcome-body
    .top-bar
      .wrapper.no-pad
        .top-bar-right
          a(href='/login')
            i.fa.fa-sign-in(aria-hidden='true')
            |&nbsp Sign In
          a(href='/register' style='margin-left:13px')
            i.fa.fa-user-plus(aria-hidden='true')
            |&nbsp Sign Up
      .main-head(style='margin-top:5px')
        .wrapper-calloums
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
              ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                li(data-target='#carouselExampleIndicators', data-slide-to='2')
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='/assets/images/stock images/sers1.jpg', alt='First slide')              
                  .carousel-caption.d-none.d-md-block(style='padding-bottom:150px;')
                    img(src='/assets/images/tbw-indent.ico' onContextMenu='return false')
                    h1(style='font-weight: bold') Welcome to TrabaWHO!
                    br
                    h2 Find the nearest service providers in your area for almost any service you need
                .carousel-item
                  img.d-block.w-100(src='/assets/images/stock images/sers2.jpg', alt='Second slide')
                  .carousel-caption.d-none.d-md-block
                    h4 Everything is done neatly
                    p Transactions and all
                .carousel-item
                  img.d-block.w-100(src='/assets/images/stock images/sers3.jpg', alt='Third slide')
                  .carousel-caption.d-none.d-md-block
                    h5 ...
                    p ...
              a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
              a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next

        .sector-w
          .sector-container
            h2.text-headline How It Works
            .boat
              .col-sm-4
                center
                  i.fa.fa-search.fa-4x.faust(aria-hidden='true')
                  span.size.faust &nbsp Find a Service that you need
              .col-sm-4
                center
                  i.fa.fa-comments-o.fa-4x.faust(aria-hidden='true')
                  span.size.faust &nbsp Request the service provider and talk about the job
              .col-sm-4
                center
                  i.fa.fa-money.fa-4x.faust(aria-hidden='true')
                  span.size.faust &nbsp Pay directly to the provider when the job is done
        footer.page-footer.font-small.pt-4.mt-4.text-white(style='background: #3E4551; margin:0px !important;')
          .container.text-center.text-md-left(style='max-width: 1264px !important')
            .row(style='margin-left:50px')
              .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3
                h6.text-uppercase.font-weight-bold TrabaWHO
                hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
                p
                  | TrabaWho is an Online service finder where you can Hire the best service providers for almost any service you need
              .col-md-2.col-lg-2.col-xl-2.mx-auto.mt-3
                h6.text-uppercase.font-weight-bold  Useful links
                hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
                p
                  a.link-white(href='/profile/2') Your Account
                p
                  a.link-white(href='/myservices') Become a Provider
                p
                  a.link-white(href='/home/guide') Guide
                p
                  a.link-white(href='/home/help') Help
              .col-md-2.col-lg-2.col-xl-2.mx-auto.mt-3
                h6.text-uppercase.font-weight-bold  About
                hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
                p
                  a.link-white(href='/home/about') About Us
                p
                  a.link-white(href='/home/team') Our Team
              .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3
                h6.text-uppercase.font-weight-bold Contact
                hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
                p
                  i.fa.fa-home.mr-3
                  |  PUP Sta. Mesa
                p
                  i.fa.fa-envelope.mr-3
                  |  trabawho.sup@gmail.com
                p
                  i.fa.fa-phone.mr-3
                  |  + 01 234 567 88
          hr
          .text-center
            a.link-white(onClick="window.open('/register/terms');") Terms of Agreement
          .footer-copyright.py-3.text-center
            .container-fluid
              | © 2018   Copyright: TrabaWHO
