extends navbar.pug

block dash
  block append stylesheets
    link(rel='stylesheet', type='text/css', href='/assets/custom/contentstyles.css')
    link(rel='stylesheet', type='text/css', href='/assets/custom/messages.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel="stylesheet" href="/assets/font-awesome-premium-4.7.0/css/font-awesome.min.css")

  block append scripts
    script.
      function dropdown1(){
        if(document.getElementById('sub1').style.display=='block'){
        document.getElementById('sub1').style.display='none';
        document.getElementById('drop1').style.background='#282B30';
        }
        else{
          document.getElementById('sub1').style.display='block';
          document.getElementById('drop1').style.background='#3498DB';
        }
      };
  each thisuser in thisUserTab
    .container-fluid.dashboard
      .row
        .col
          .user-panel
              .pull-left.image
                .chat-pad(style="height: 50px, width: 50px")
                  .chat-img(style="height: 50px, width: 50px")
                    img(src='/userImages/profile/'+thisuser.strProfilePic alt='' height="50" width="50")
              .pull-right.info
                p.text-white(style="margin-top: 10px")
                  a(href='/profile/'+thisuser.intAccNo style='color: white; text-decoration: none;') #{thisuser.strName}
                    
              // search form
              form(method='POST' action='/home/search')
                .input-group
                    input.form-control(type='text', name='search', placeholder='Search...')
                    button#search-btn.btn.btn-flat(type='submit')
                       i.fa.fa-search(aria-hidden='true')
          #sidebar
            .row
              .col
                a.row.main-row(href='/scheduler')
                  h4 Scheduler
                a.row.main-row(href='/services')
                  h4 Services
                a.row.main-row(href='/myservices')
                  h4 My Services
                #drop1.row.main-row.text-white(onclick='dropdown1()')
                  h4
                    a Transactions
                #sub1.row
                  a.row(href='/transactions/ongoing')
                    h4 Ongoing
                  a.row(href='/transactions/finished')
                    h4 Finished
              .col  
        .col
          .row
              .col-sm-12.main(style='min-height: 100%;')
                .container(style='padding:0px !important; margin: 0px !important; min-height: 100%; max-width: 200%; overflow: hidden;')
                  block main
                
                footer.page-footer.font-small.pt-4.mt-4.text-white(style='background: #3E4551; margin:0px !important;')
                  .container.text-center.text-md-left(style='max-width: 1264px !important')
                    .row(style='margin-left:50px')
                      .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3
                        h6.text-uppercase.font-weight-bold TrabaWHO
                        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
                        p
                          | TrabaWho is an Online Community for finding and offering services
                      .col-md-2.col-lg-2.col-xl-2.mx-auto.mt-3
                        h6.text-uppercase.font-weight-bold  Useful links
                        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
                        p
                          a.link-white(href='/profile/2') Your Account
                        p
                          a.link-white(href='/myservices') Become a Provider
                        p
                          a.link-white(href='/home/guide') Guide
                        p
                          a.link-white(href='/home/help') Help
                      .col-md-2.col-lg-2.col-xl-2.mx-auto.mt-3
                        h6.text-uppercase.font-weight-bold  About
                        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
                        p
                          a.link-white(href='/home/about') About Us
                        p
                          a.link-white(href='/home/team') Our Team
                      .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3(style='width: 200px !important;')
                        h6.text-uppercase.font-weight-bold Contact
                        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
                        p
                          i.fa.fa-home.mr-3
                          |  PUP Sta. Mesa
                        p
                          i.fa.fa-envelope.mr-3
                          |  trabawho.sup@gmail.com
                        p
                          i.fa.fa-phone.mr-3
                          |  No-Hotline
                  hr
                  .text-center
                    a.link-white(onClick="window.open('/register/terms');") Terms of Agreement
                  .footer-copyright.py-3.text-center
                    .container-fluid
                      | © 2018   Copyright: TrabaWHO
