extends navbar.pug

block dash
  .container-fluid.dashboard
    .row
      .col
        .user-panel
            .pull-left.image
                img.img-circle(src='/assets/images/profile.png', alt='User Image')
            .pull-right.info
                p.text-white Alexander Pierce
                a(href='#')
                i.fa.fa-circle.text-success &nbsp Online
            // search form
            form.sidebar-form(action='#', method='get')
            .input-group
                input.form-control(type='text', name='q', placeholder='Search...')
                button#search-btn.btn.btn-flat(type='submit', name='search', href="")
                   i.fa.fa-search(aria-hidden='true')
        a.row.user.text-white(href='/services')
            h3 Services
        a.row.user.text-white(href='/myservices')
            h3 My Services
        .row.user.text-white
            h3 Transactions
        a.row.user.pl-5.mt-0.text-white(href='/ongoing')
            h4 Ongoing
        a.row.user.pl-5.mt-0.text-white(href='/finished')
            h4 Finished
        a.row.user.pl-5.mt-0.text-white(href='/translog')
            h4 Log
      .col
        .row
            .col-sm-13.main
              link(rel='stylesheet', type='text/css', href='/assets/custom/contentstyles.css')
              link(rel='stylesheet', type='text/css', href='/assets/custom/messages.css')
              link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans')
              block main
