extends navbar.pug

block dash
  .container-fluid.dashboard
    .row
      .col
        a.row.user.text-white(href='/services')
            h3 Services
        a.row.user.text-white(href='/myservices')
            h3 My Services
        a.row.user.text-white(href='#MyRequests')
            h3 My Requests
        .row.user.text-white
            h3 Transactions
        a.row.user.pl-5.mt-0.text-white(href='#Ongoing')
            h4 Ongoing
        a.row.user.pl-5.mt-0.text-white(href='#Finished')
            h4 Finished
        a.row.user.text-white(href='#TransLog')
            h3 Transaction Log
        //-
          .dash-foot
            h3 Help
            h3 Guide
      .col
        .container-fluid
          .row
            .col-sm-12.main
                link(rel='stylesheet', type='text/css', href='/assets/custom/contentstyles.css')
                block main
