extends navbar.pug

block dash
  .container-fluid.dashboard
    .row
      .col
        .container
          .row
            h3 Services
          .row
            h3 My Services
          .row
            h3 Transactions
            .subcategory
              .row
              h4 Ongoing
              .row
              h4 Finished
            h3 Transaction Log
        //-
          .dash-foot
            h3 Help
            h3 Guide
      .col
        .container-fluid
          .row
            .col-sm-11.col-md-11.col-lg-11.main
              block main
