extends navbar-admin.pug

block dash
  .container-fluid.dashboard.admin
    .row
      .col
        .row.admin.text-white
            h4 Regular Accounts
        a.row.admin.pl-5.mt-0.text-white(href='/admin/Active')
            h5 Active
        a.row.admin.pl-5.mt-0.text-white(href='/admin/Banned')
            h5 Banned
        .row.admin.text-white
            h4 Business Accounts
        a.row.admin.pl-5.mt-0.text-white(href='/admin/Unregistered')
            h5 Unregistered
        .row.admin.text-white
            h4 Reports
        a.row.admin.pl-5.mt-0.text-white(href='/admin/ReportedUsers')
            h5 Reported Users
        a.row.admin.pl-5.mt-0.text-white(href='/admin/ReportLog')
            h5 Report Log
        a.row.admin.text-white(href='/admin/IDRequests')
            h4 ID Requests
        a.row.admin.text-white(href='/admin/TransactionLog')
            h4 Transaction Log
            
      .col
        .container
          .row
            .col-sm-12.main
              block main
