extends navbar.pug

block dash
  .container-fluid.dashboard
    .row
      .col
        .user-panel
            .pull-left.image
                img.img-circle(src='/assets/images/profile.png', alt='User Image')
            .pull-right.info
                p.text-white Alexander Pierce
                a(href='#')
                i.fa.fa-circle.text-success Online
            // search form
            form.sidebar-form(action='#', method='get')
            .input-group
                input.form-control(type='text', name='q', placeholder='Search...')
                span.input-group-btn
                button#search-btn.btn.btn-flat(type='submit', name='search')
                    i.fas.fa-search
        a.row.user.text-white(href='/services')
            h3 Services
        a.row.user.text-white(href='/myservices')
            h3 My Services
        a.row.user.text-white(href='#MyRequests')
            h3 My Requests
        .row.user.text-white
            h3 Transactions
        a.row.user.pl-5.mt-0.text-white(href='#Ongoing')
            h4 Ongoing
        a.row.user.pl-5.mt-0.text-white(href='#Finished')
            h4 Finished
        a.row.user.text-white(href='#TransLog')
            h3 Transaction Log
      .col
        .row
            .col-sm-12.main
                link(rel='stylesheet', type='text/css', href='/assets/custom/contentstyles.css')
                block main
