extends navbar-admin.pug

block dash
  block append scripts
    script.
      function dropdown1(){
        if(document.getElementById('sub1').style.display=='block'){
        document.getElementById('sub1').style.display='none';
        document.getElementById('drop1').style.background='#282B30';
        }
        else{
          document.getElementById('sub1').style.display='block';
          document.getElementById('drop1').style.background='#EC9B00';
        }
      };
      function dropdown2(){
        if(document.getElementById('sub2').style.display=='block'){
        document.getElementById('sub2').style.display='none';
        document.getElementById('drop2').style.background='#282B30';
        }
        else{
          document.getElementById('sub2').style.display='block';
          document.getElementById('drop2').style.background='#EC9B00';
        }
      };
  .container-fluid.dashboard.admin
    .row
      .col
        #sidebar
          .row
            .col
              #drop1.row.main-row.text-white.adminside(onclick='dropdown1()')
                h4
                  a Accounts
              #sub1.row
                a.row(href='/admin/Active')
                  h4 Active
                a.row(href='/admin/Banned')
                  h4 Banned
                a.row(href='/admin/Unregistered')
                  h4 Unregistered
                a.row(href='/admin/Declined')
                  h4 Declined
              #drop2.row.main-row.text-white.adminside(onclick='dropdown2()')
                h4
                  a Reports
              #sub2.row
                a.row(href='/admin/ReportedUsers')
                  h4 Reported Users
                a.row(href='/admin/ReportLog')
                  h4 Report Log
              a.row.main-row.adminside(href='/admin/IDVerification')
                h4 ID Verifications
              a.row.main-row.adminside(href='/admin/Cancelled')
                h4 Cancelled 
            .col
            
      .col
          .row
            .col-sm-12.main
                link(rel='stylesheet', type='text/css', href='/assets/custom/contentstyles-admin.css')
                block main
