extends navbar.pug

block dash
  .container-fluid.dashboard
    .row
      .col
        a.row.text-white(href='#Services')
            h3 Services
        a.row.text-white(href='#MyServices')
            h3 My Services
        .row.text-white
            h3 Transactions
        a.row.pl-5.text-white(href='#Ongoing')
            h4 Ongoing
        a.row.pl-5.text-white(href='#Finished')
            h4 Finished
        a.row.text-white(href='#TransLog')
            h3 Transaction Log
        //-
          .dash-foot
            h3 Help
            h3 Guide
      .col
        .container-fluid
          .row
            .col-sm-11.col-md-11.col-lg-11.main
              block main
