extends navbar-admin.pug

block dash
  .container-fluid.dashboard.admin
    .row
      .col
        .row.admin.text-white
            h3 Accounts
        a.row.admin.pl-5.mt-0.text-white(href='#Active')
            h4 Active
        a.row.admin.pl-5.mt-0.text-white(href='#Unregistered')
            h4 Unregistered
        a.row.admin.pl-5.mt-0.text-white(href='#Banned')
            h4 Banned
        .row.admin.text-white
            h3 Reports
        a.row.admin.pl-5.mt-0.text-white(href='#ReportedUsers')
            h4 Reported Users
        a.row.admin.pl-5.mt-0.text-white(href='#Report Log')
            h4 Report Log
        a.row.admin.text-white(href='#IDRequests')
            h3 ID Requests
        a.row.admin.text-white(href='#IDRequests')
            h3 Transaction Log
            
      .col
        .container-fluid
          .row
            .col-sm-11.col-md-11.col-lg-11.main
              block main
