extends navbar.pug

append content
  .dashboard
    .row
      .col-3
        .container
          h1 Hello There
      .col
        .container
          .row
            .col-sm-12.col-md-12.col-lg-12
              h1 Hello There Hello There Hello There Hello There Hello There Hello There 
  append content
