extends master.pug

block content
  nav.navbar.navbar-expand-md.navbar-dark(style='background-color: #3498DB;')
    .container-fluid
      a.navbar-brand(href='/home')
        img(src='/assets/images/tbw.ico', width='50', height='50', alt='Trabawho')
        span
          b TrabaWHO
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.navbarNavDropdown.justify-content-end
        ul.navbar-nav
          li.nav-item.active
            a.nav-link.nav-text(href='/messages') Messages &nbsp&nbsp
          li.nav-item.active
            a.nav-link.nav-text(href='#Requests') Requests &nbsp&nbsp
          li.nav-item.active
            a.nav-link.nav-text(href='#Profile') Profile &nbsp&nbsp
          li.nav-item.dropdown.active
            a#navbarDropdown.nav-link.nav-text.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Settings&nbsp
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#Help') Help
              a.dropdown-item(href='#Guide') Guide
              .dropdown-divider
              a.dropdown-item(href='/login') Sign-out
  .dash
    block dash
